:root {
  --font-sans: 'Noto Sans', sans-serif;

  --color-primary-50: #fff7ed;
  --color-primary-100: #feecd6;
  --color-primary-200: #fcd5ac;
  --color-primary-300: #f9b778;
  --color-primary-400: #f68f41;
  --color-primary-500: #f3701e;
  --color-primary-600: #e45512;
  --color-primary-700: #bd3f11;
  --color-primary-800: #963316;
  --color-primary-900: #792c15;
  --color-primary-950: #411409;

  --color-secondary-50: #fdf9ef;
  --color-secondary-100: #faf1da;
  --color-secondary-200: #f2dcad;
  --color-secondary-300: #ebc986;
  --color-secondary-400: #e3a954;
  --color-secondary-500: #dc9133;
  --color-secondary-600: #ce7928;
  --color-secondary-700: #ab5f23;
  --color-secondary-800: #894c23;
  --color-secondary-900: #6e3f20;
  --color-secondary-950: #3b1e0f;

  --color-accent-50: #f6f7f9;
  --color-accent-100: #ebeef3;
  --color-accent-200: #d3dae4;
  --color-accent-300: #acbacd;
  --color-accent-400: #7f95b1;
  --color-accent-500: #5f7798;
  --color-accent-600: #4b607f;
  --color-accent-700: #3d4d67;
  --color-accent-800: #354257;
  --color-accent-900: #30394a;
  --color-accent-950: #202631;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #d3d3d3;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #727272;
  --color-gray-600: #535353;
  --color-gray-700: #404040;
  --color-gray-800: #272727;
  --color-gray-900: #1a1a1a;
  --color-gray-950: #111111;

  --color-background: #0f0f0f;

  --color-success: #65b87d;
  --color-warning: #ffc664;
  --color-error: #ff6467;
  --color-info: #7b9ef1;
}
